#wrapper{
    padding-bottom: 30px;
}

#logo-nav{
    padding-left: 5px;
    padding-right: 5px;
}
#nav-header{
    background-color: palegreen;
}
    
.btn-outline-success:hover{
    background-color: limegreen;
    
}

.card {
    margin-top: 5px;
}

.card-body {
    text-align: center;
}

#footer{
    margin-top: 5px;
    height: 25px;
    background-color: limegreen;
    text-align: center;
}

#responsive-body {
    width: 100%;
    margin: 0;
}

.carousel-inner {
    margin-top: 2px;
}

.input-compra-quantidade{
    width: 25px;
}

.img-modal-compra{
    width: 75px;
    height: 75px;
}

.desc-prod{
    text-align: center;
}