#wrapper{
    padding-bottom: 30px;
}

.navbar{
    padding: 5px;
}

#logo{
    width: 75px;
    height: 75px;
}

#logo-nav{
    padding-left: 5px;
    padding-right: 5px;
}


#nav-header{
    background-color: #43E07C;
}

.btn-outline-success{
    border-color: #AB77B8;
    
}

.btn-outline-success:hover{
    background-color: #9743E0;
    
}

.card {
    margin-top: 5px;
}

.card-body {
    text-align: center;
}

#footer{
    margin-top: 5px;
    height: 25px;
    background-color: #43E07C;
    text-align: center;
}

#responsive-body {
    width: 100%;
    margin: 0;
}

.carousel-inner {
    margin-top: 2px;
}

.input-compra-quantidade{
    width: 25px;
}

.img-modal-compra{
    width: 75px;
    height: 75px;
}

.desc-prod{
    text-align: center;
}